*,
*::after,
*::before {
  scroll-behavior: smooth;
}

:root {
  --accent-color: #ff9900;
  --primary-text-color: #07bada;
  --secondary-text-color: rgba(255, 255, 255, 0.705);
  --form-border-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #1c2225;
  color: var(--primary-text-color);
}

/* #region Reset */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.accent {
  color: var(--accent-color);
}

.section {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    padding: 75px 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 375px;
  padding: 0 20px;
  overflow-x: clip;
  outline: 1px solid red;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* #endregion */

/* #region Section Header */
.header {
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.header-logo {
  padding: 6px 0;
}

.logo {
  fill: var(--accent-color);
  display: block;
}

@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .header-logo {
    padding: 16px 0;
    margin-right: 60px;
  }
}
.nav-list {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .nav-list {
    display: flex;
    gap: 25px;
  }
}

.nav-item {
}

.nav-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: var(--primary-text-color);
  padding: 27px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.address {
}
.contact-wrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
  .contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 20px;
  }
}

.address-contact {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .address-contact {
    display: block;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    color: var(--primary-text-color);
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
  }
}

.address-contact:hover,
.address-contact:focus {
  border: 1px solid var(--accent-color);
}

.address-soc-list {
  display: flex;
  gap: 12px;
}

.soc-item {
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  background-color: rgba(252, 249, 249, 0.1);
  width: 44px;
  height: 44px;

  transition:
    background-color 250ms ease-in-out,
    border 250ms ease-in-out;
}

.soc-icon {
  fill: currentColor;
}

.soc-link:hover,
.soc-link:focus {
  border: 1px solid var(--accent-color);
  background-color: transparent;
}

.header__burgger-button {
  display: block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .header__burgger-button {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .header__burgger-button {
    display: none;
  }
}

.burgger-img {
  stroke: var(--accent-color);
}

@media only screen and (min-width: 768px) {
  .burgger-img {
    width: 44px;
    height: 30px;
  }
}
/* #endregion */

/* #region Section Hero */
.hero {
  padding-top: 84px;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 100px;
  }
}

.container {
}

.hero .container {
  display: flex;
  flex-direction: column-reverse;
}

@media only screen and (min-width: 1280px) {
  .hero .container {
    flex-direction: row;
  }
}

.hero__img {
  object-fit: cover;
  width: 335px;
  height: 545px;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .hero__img {
    width: 413px;
    height: 575px;
    border-radius: 4px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero__img {
    width: 392px;
    height: 545px;
    margin-right: 40px;
    border-radius: 4px;
  }
}

@media only screen and (min-width: 768px) {
  .hero__content {
    display: flex;
    flex-grow: 1;
  }
}

.hero__title-wrapper {
}

@media only screen and (min-width: 1280px) {
  .hero__title-wrapper {
    padding-top: 94px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.03em;
  width: 335px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .hero__title {
    font-size: 54px;
    line-height: 1.19;
    width: 549px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero__title {
    width: 518px;
  }
}

.accent {
}

.hero__link {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--primary-text-color);

  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 15px 35px;

  max-width: 154px;
  gap: 10px;
  margin-left: 70px;
  margin-bottom: 40px;

  transition: border 250ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .hero__link {
    font-size: 16px;
    padding: 14px 39px;
    max-width: 168px;
    gap: 10px;
    margin-left: 141px;
    margin-bottom: 46px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero__link {
    margin-bottom: 0;
  }
}

.hero__link:hover,
.hero__link:focus {
  border: 1px solid var(--accent-color);
}

.hero__link-arrow {
  fill: var(--accent-color);
}

.hero__sun-wrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero__sun-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__sun-wrapper {
    padding-top: 14px;
  }
}
.hero__img-sun {
  width: 52px;
  margin: 0 auto;
  margin-bottom: 16px;
  fill: var(--accent-color);
}

.hero__text {
  width: 115px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: var(--secondary-text-color);
}
/* #endregion */

/* #region Section About */
.about {
}

.about .container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .about .container {
    display: flex;
  }
}

@media only screen and (min-width: 1280px) {
  .about .container {
    display: flex;
    flex-direction: row;
  }
}

.about__text-wrapper {
  max-width: 100%;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .about__text-wrapper {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .about__text-wrapper {
    max-width: 536px;
    margin-right: 50px;
    padding-top: 79px;
    padding-bottom: 79px;
  }
}
.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .about__title {
    font-size: 44px;
    line-height: 1.45;
  }
}

@media only screen and (min-width: 1280px) {
  .about__title {
    margin-right: auto;
  }
}

.about__text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  color: var(--secondary-text-color);
}

@media only screen and (min-width: 768px) {
  .about__text {
    font-size: 16px;
  }
}

.first-paragraph {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1258px) {
  .first-paragraph {
    max-width: 508px;
  }
}

.about__img-wrapper {
  position: relative;
  isolation: isolate;
}

.about__picture {
}

.about__img-shirt {
  position: relative;
  z-index: 1;
  display: block;
  width: 335px;
  height: auto;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .about__img-shirt {
    width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .about__img-shirt {
    width: 594px;
  }
}

.about__img-wrapper::before {
  position: absolute;
  content: "";

  z-index: 0;

  width: 459px;
  height: 408px;

  background-image: url(../images/about/elements-grey.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  right: -229px;
  bottom: -62px;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__img-wrapper::before {
    background-image: url(../images/about/elements-grey@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .about__img-wrapper::before {
    width: 545px;
    height: 484px;

    right: -208px;
    bottom: -50px;
  }
}

@media only screen and (min-width: 1280px) {
  .about__img-wrapper::before {
    right: -210px;
    bottom: -80px;
  }
}

/* #endregion */

/* #region Section Collection */

.our-collection {
}

.container {
}

.our-collection__title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.03em;

  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .our-collection__title {
    text-align: center;
    font-size: 44px;
    line-height: 1.45;
  }
}

.our-collection__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .our-collection__list {
    flex-direction: row;

    flex-wrap: wrap;
    gap: 20px 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-collection__list {
    gap: 40px 20px;
  }
}

.our-collection__item-bg-wrapper {
  position: relative;
  isolation: isolate;
}

.our-collection__item-bg-wrapper::before {
  position: absolute;

  content: "";
  z-index: 0;

  width: 199px;
  height: 177px;

  background-image: url(../images/our-collection/elements-gold.png);
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;

  top: 214px;
  left: -147px;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .our-collection__item-bg-wrapper::before {
    background-image: url(../images/our-collection/elements-gold@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .our-collection__item-bg-wrapper::before {
    width: 338px;
    height: 300px;

    top: 117px;
    left: -256px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-collection__item-bg-wrapper::before {
    top: 117px;
    left: -219px;
  }
}

.our-collection__item {
  flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
  .our-collection__item {
    flex-basis: calc((100% - 20px) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .our-collection__item {
    flex-basis: calc((100% - 2 * 20px) / 3);
  }
}

.our-collection__img {
  width: 335px;
  height: 400px;
  border-radius: 4px;
  margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
  .our-collection__img {
    width: 342px;
    height: 430px;
  }
}

@media only screen and (min-width: 1280px) {
  .our-collection__img {
    width: 380px;
  }
}

.collection-wrapper {
}

.our-collection__item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .our-collection__item-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.our-collection__text {
  display: none;
}

@media only screen and (min-width: 768px) {
  .our-collection__text {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
  }
}

/* #endregion */

/* #region Section Galery */

.galery {
  background-color: var(--accent-color);
  background-image: url(../images/galery/girl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1280px;
  height: 776px;
  margin: 0 auto;
  /* padding-bottom: 0px;
  padding-top: 0px; */
}

.container {
}

.galery__img {
}

/* #endregion */

/* #region Section Form */

.section-form {
  padding-top: 150px;
}

.container {
}

.section-form .container {
  display: flex;
  gap: 50px;
}

.form__img {
  display: block;

  width: 588px;
  height: 521px;
  border-radius: 4px;
}

.form__img-wrapper {
  position: relative;
  align-self: flex-start;
}

.form__img-wrapper::before {
  position: absolute;

  z-index: -1;
  content: "";
  width: 545px;
  height: 484px;
  background-image: url(../images/form/elements-grey.png);
  background-repeat: no-repeat;
  /* background-size: cover; */

  left: -306px;
  bottom: -119px;

  pointer-events: none;
}

.form__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.32;
  letter-spacing: -0.03em;
  color: var(--primary-text-color);
  width: 542px;
  margin-bottom: 40px;
}

.accent {
}

.order-form {
  width: 508px;
}

.form-label {
}

.form-input {
  width: 100%;
  border: 1px solid var(--form-border-color);
  border-radius: 15px;
  padding: 14px 16px;

  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  background-color: transparent;
  height: 50px;

  margin-bottom: 20px;

  transition: border-color 250ms ease-in-out;
}

.form-input::placeholder,
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(252, 249, 249, 0.5);
}

.form-textarea {
  width: 100%;
  resize: none;
  border: 1px solid var(--form-border-color);
  border-radius: 15px;
  padding: 14px 16px;

  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  background-color: transparent;

  height: 196px;
  margin-bottom: 40px;
  transition: border-color 250ms ease-in-out;
}

.form-input:focus,
.form-textarea:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}

.form-button {
  display: flex;
  align-items: center;
  gap: 10px;

  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 39px;
  width: 168px;
  height: 50px;
  background-color: transparent;

  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  transition: border-color 250ms ease-in-out;
}

.form-button:hover,
.form-button:focus {
  border: 1px solid var(--accent-color);
}

.hero__link-arrow {
}

/* #endregion */

/* #region Section Testimonials */

.testimonials {
}

.container {
}

.testimonials__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.45455;
  letter-spacing: -0.03em;
  color: var(--primary-text-color);
  margin-bottom: 40px;
}

.testimonials__list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.testimonials__item {
  position: relative;

  width: calc((100% - 2 * 26px) / 3);
  box-shadow: 0 2px 32px 4px rgba(18, 20, 23, 0.02);
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 4px;
  padding: 54px 18px 39px 18px;
}

.testimonials__item-img {
  position: absolute;

  width: 64px;
  height: 64px;
  object-fit: cover;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 14px;

  top: -24px;
  left: calc(50% - 32px);
}
/* left: 50%;
  transform: translateX(-50%);
} */

.testimonials__item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-text-color);
  text-align: center;
}

.testimonials__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--secondary-text-color);
}

/* #endregion */

/* #region Footer */

.footer {
  position: relative;

  overflow: hidden;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  padding: 40px 0;
}

.footer .container {
  position: relative;
  isolation: isolate;
  z-index: 1;
}

.footer .container::after {
  position: absolute;
  content: "";
  z-index: 0;

  background-image: url(../images/footer/elements-gold.png);
  background-repeat: no-repeat;
  pointer-events: none;

  width: 595px;
  height: 528px;

  top: -101px;
  right: -259px;
}

.container {
}

.footer__list {
  display: flex;
  margin-bottom: 117px;
  margin-right: auto;
  gap: 25px;
}

.footer__item {
}

.footer__item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: var(--primary-text-color);
  padding: 0;
}

/* .footer__cont-wrapper {
  display: flex;
} */
.footer__text {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--primary-text-color);
  width: 754px;
}

.accent {
}

.footer__img-elem {
}

/* #endregion */
